@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';


body {
  @include outer-container(1600px);
  @include span-columns (12);
  background-color: rgba(245, 245, 241, 1);

}

header {
  @include span-columns(12);
  background-color: white;
  vertical-align: middle;
 height: 75px;


}

#headerimage {
  @include span-columns(2);
  @include shift (2);
  background-image: url('http://www.etsy.com/images/logo_no_border.gif');
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  height: 50px;
margin-top: 15px;
width: 100px;

}

#search {

  @include shift(2.7);
  margin-top: 30px;

  text {
    height: 20px;
  }
}

nav {
  @include span-columns (2);
  @include shift(2);
  float: left;
  max-width: 200px;
  min-width:230px;


}

h3 {
  margin-bottom: 7px;
  margin-top: 0px;
  padding-top: 3px;
}

p {
  margin-bottom: 0;
}

#categorieslist {

  font-size: 12px;
  list-style-type: none;
  padding-left: 20px;
  min-width: 170px;
  line-height:25px;

}

 #categories {
   height: 400px;
   margin-bottom: 30px;
   background-color: white;
   margin-top: 10px;
 }

#refine {
  height: 500px;
  margin-top: 10px;
  background-color: white;
}

ul {
  @include span-columns (7);


}

#items {
  @include span-columns (3.58);
  height: 220px;
  background-color: blue;
  margin-bottom: 10px;
  position: relative;
  overflow: visible;
  text-overflow: ellipsis;
  min-width: 220px;
}

h1 {
  text-align: left;
  overflow: hidden;
  font-size: 10px;
  white-space: nowrap;
  height: 10px;
  max-width: 230px;
}

li img {
  height: 180px;
  width: 220px;
}
